@import "../node_modules/modularscale-sass/stylesheets/modularscale";
@import "colors.scss";

@font-face {
  font-family: "apercu";
  src: url("public/fonts/apercu-regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "apercu mono";
  src: url("public/fonts/apercu-mono.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

$modularscale: (
  base: 16px,
  ratio: 1.25
);

body {
  margin: 0;
}

* {
  font-family: "apercu", sans-serif;
}

.window {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100dvh;

  .page {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: ms(0);
      background: $neutral-50;

      .name {
        font-size: ms(-1);
        color: $neutral-500;
      }

      .right {
        display: flex;
        flex-direction: row;
        gap: ms(0);

        .connections {
          display: flex;
          flex-direction: row;
          gap: ms(-6);

          .connection {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            .avatar {
              width: ms(0);
              height: ms(0);
              border-radius: 50%;
            }

            .name {
              display: none;
              position: absolute;
              font-size: ms(-1);
              background: $neutral-800;
              padding: ms(-6) ms(-4);
              color: $neutral-50;
              border-radius: ms(-6);
              top: ms(2);
              white-space: nowrap;
              text-transform: capitalize;
            }

            &:hover {
              filter: brightness(0.9);

              .name {
                display: block;
              }
            }
          }
        }

        .menu {
          display: flex;
          color: $neutral-400;
          cursor: pointer;

          &:hover {
            color: $neutral-500;
          }
        }
      }
    }

    .conversation {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: calc(100vh - 48.5px - 68.7px - #{ms(0)});
      padding-top: ms(0);
      padding-left: ms(-2);
      padding-right: ms(-2);

      .messages {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        .message {
          display: flex;
          flex-direction: row;
          padding: ms(-4);
          gap: ms(-4);
          border-radius: ms(-6);

          &:hover,
          &.editing {
            background: $neutral-100;
          }

          .avatar {
            flex-shrink: 0;
            height: 21px;
            width: 21px;
            border-radius: ms(-8);
          }

          .content,
          .function,
          .json {
            width: 100%;
          }

          .editing {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: ms(-4);

            .input {
              font-size: ms(0);
              resize: none;
              border-radius: ms(-4);
              outline: none;
              border: 0px solid $neutral-200;
              width: 100%;
              padding: 0;
              background: transparent;

              &.function {
                font-size: ms(-1);
                font-family: "apercu mono", monospace;
                color: $neutral-500;
              }
            }

            .actions {
              display: flex;
              flex-direction: row;
              gap: ms(-4);
              justify-content: flex-end;

              .save,
              .discard {
                font-size: ms(-1);
                background-color: $neutral-200;
                padding: ms(-4) ms(-3);
                border-radius: ms(-8);
                cursor: pointer;
              }

              .save {
                color: $green-700;
                background: $green-200;

                &:hover {
                  color: $green-900;
                  background: $green-300;
                }
              }

              .discard {
                color: $red-700;
                background: $red-200;

                &:hover {
                  color: $red-900;
                  background: $red-300;
                }
              }
            }
          }

          .content {
            white-space: pre-wrap;
          }

          .function {
            border-radius: ms(-8);
          }

          .json {
            margin: 0;
            font-family: "apercu mono", monospace;
            font-size: ms(-1);
            color: $neutral-500;
            overflow-x: scroll;
          }

          .error {
            color: $red-500;
            font-size: ms(-1);
          }
        }
      }
    }

    .controls {
      display: flex;
      flex-direction: row;
      gap: ms(0);
      padding: ms(0);
      padding-top: ms(-2);

      .input {
        flex-grow: 1;
        padding: ms(-2);
        font-size: ms(0);
        border: 1px solid $neutral-300;
        border-radius: ms(-4);
        outline: none;
      }

      .send {
        font-size: ms(0);
      }
    }
  }

  .history {
    display: none;
    background: $neutral-900;
    height: calc(100dvh);
    flex-direction: column;
    overflow-y: scroll;
    flex-shrink: 0;
    width: ms(13);

    &.visible {
      display: flex;
    }

    .bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: ms(0);
      background: $neutral-800;
      color: $neutral-300;
      font-size: ms(-1);
      position: sticky;
      top: 0;

      .finetune {
        display: flex;
        flex-direction: row;
        align-items: center;

        .icon {
          display: flex;
          cursor: pointer;
        }

        .tooltip {
          display: none;
          position: absolute;
          font-size: ms(-1);
          background: $neutral-600;
          right: ms(0) * 3;
          padding: ms(-6) ms(-4);
          color: $neutral-50;
          border-radius: ms(-6);
          white-space: nowrap;
        }

        &:hover {
          .tooltip {
            display: block;
          }
        }
      }
    }

    .conversations {
      padding: ms(-2);

      .line {
        margin: ms(-4);
        height: 1px;
        width: calc(100% - #{ms(-4) * 2});
        background: $neutral-700;
      }

      .conversation {
        cursor: pointer;
        padding: ms(-4);
        border-radius: ms(-6);

        .top {
          display: flex;
          flex-direction: row;
          gap: ms(-4);

          .timestamp {
            font-size: ms(-1);
            color: $neutral-400;
          }

          .delete {
            display: flex;
            color: $neutral-500;

            &:hover {
              color: $red-500;
            }
          }
        }

        .content {
          color: $neutral-200;
        }

        &:hover,
        &.selected {
          background: $neutral-800;
        }
      }
    }
  }
}
