@import "~modularscale-sass/stylesheets/modularscale";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");

$red: #eb5528;
$orange: #ed7e30;
$green: #9aee86;
$neutral-50: #fafafa;
$neutral-100: #f5f5f5;
$neutral-200: #e5e5e5;
$neutral-300: #d4d4d4;
$neutral-400: #a3a3a3;
$neutral-500: #737373;
$neutral-600: #525252;
$neutral-700: #404040;
$neutral-800: #262626;
$neutral-900: #171717;

$modularscale: (
  base: 16px,
  ratio: 1.25
);

body {
  margin: 0;
}

* {
  font-family: "DM Sans", sans-serif;
}

.page {
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: ms(0);
    background: $neutral-50;

    .status {
      width: ms(-2);
      height: ms(-2);
      background: $red;
      border-radius: 50%;
      transition: background 0.2s ease-in-out;

      &.connected {
        background: $green;
      }
    }
  }

  .conversation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100vh - 53px - 75.47px - #{ms(0)});
    padding-top: ms(0);
    padding-left: ms(0);
    padding-right: ms(0);

    .messages {
      display: flex;
      flex-direction: column;
      gap: ms(-2);
      overflow-y: scroll;

      .message {
        display: flex;
        flex-direction: row;
        gap: ms(-4);

        .avatar {
          flex-shrink: 0;
          height: 21px;
          width: 21px;
          background: $neutral-900;
          border-radius: ms(-8);

          &.user {
            background: $orange;
          }
        }

        .content {
          white-space: pre-wrap;
        }

        .function {
          border-radius: ms(-8);
        }

        .json {
          margin: 0;
          font-family: "DM Mono", monospace;
          font-size: ms(-1);
          color: $neutral-500;
        }
      }
    }
  }
}

.controls {
  display: flex;
  flex-direction: row;
  gap: ms(0);
  padding: ms(0);

  .input {
    flex-grow: 1;
    padding: ms(-2);
    font-size: ms(0);
    border: 1px solid $neutral-300;
    border-radius: ms(-4);
    outline: none;
  }

  .send {
    font-size: ms(0);
  }
}
